<div class="container mt-4 pt-3 pb-3 container-host">
  <form [formGroup]="form" (ngSubmit)="submit(form.value)">
    <div class="row form-group">
      <input type="hidden" formControlName="sNo">
      <div class="col">
        <label for="host">Host Name:</label>
        <input type="text" class="form-control" id="host" placeholder="Host Name" formControlName="hostName">
        <em *ngIf="(form.controls['hostName'].hasError('required') && submitAttempt)">required</em>
        <em *ngIf="(form.controls['hostName'].hasError('pattern') && submitAttempt)">Invalid format</em>
      </div>
      <div class="col">
        <label for="loopback">Loopback:</label>
        <input type="text" class="form-control" id="loopback" placeholder="Loopback" formControlName="loopBack">
        <em *ngIf="(form.controls['loopBack'].hasError('required') && submitAttempt)">required</em>
        <em *ngIf="(form.controls['loopBack'].hasError('pattern') && submitAttempt)">Invalid format</em>
      </div>
      <div class="col pt-4">
        <label style="display:block"></label>
        <button type="submit" class="btn btn-primary">ADD</button>
      </div>
    </div>
  </form>
  <div>
    <table *ngIf="systemData.length>0">
      <tr>
        <th>Sr No</th>
        <th>Host Name</th>
        <th>Loopback</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let data of systemData" class="mt-2">
        <td>{{data.sNo}}</td>
        <td>{{data.hostName}}</td>
        <td>{{data.loopBack}}</td>
        <td class="row mt-2">
          <div class="col-1 mr-1">
            <button class="btn btn-primary btn-sm" (click)="editRow(data,'form')">
              <i class="fa fa-pencil"></i>
            </button>
          </div>
          <div class="col-1 ml-1 mr-1">
            <button class=" btn btn-primary btn-sm" (click)="delete(data,'systemData')">
              <i class="fa fa-trash"></i>
            </button>
          </div>
          <div class="col-1">
            <button class="btn btn-primary btn-sm" (click)="showDetails(data)">
              <i class="fa fa-eye"></i>
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="visible" class="dialog container">
  <div class="container">
    <div class="row pt-2 pb-2 header-border">
      <div class="col font-weight-bold">EDIT INTERFACES</div>
      <div>
        <button (click)="close()" aria-label="Close" class="dialog__close-btn">X</button>
      </div>
    </div>
    <form [formGroup]="interfaceForm" class="pt-2">
      <div class="row form-group">
        <input type="hidden" formControlName="ifSrNo">
        <input type="hidden" formControlName="sNo">
        <div class="col">
          <label for="if">Interface:</label>
          <input type="text" class="form-control" id="if" placeholder="Interface" formControlName="interfaceName">
          <em *ngIf="(interfaceForm.controls['interfaceName'].hasError('required') && submitAttempt)">required</em>
        </div>
        <div class="col">
          <label for="ip">Loopback:</label>
          <input type="text" class="form-control" id="ip" placeholder="IP Address" formControlName="ipAddress">
          <em *ngIf="(interfaceForm.controls['ipAddress'].hasError('required') && submitAttempt)">required</em>
          <em *ngIf="(interfaceForm.controls['ipAddress'].hasError('pattern') && submitAttempt)">Invalid format</em>
        </div>
        <div class="col pt-4">
          <label style="display:block"></label>
          <button type="submit" class="btn btn-primary" (click)="submitIfValues(interfaceForm.value)">ADD</button>
        </div>
      </div>
    </form>
    <div>
      <div *ngIf="interfaceData.length>0" class="font-weight-bold">Interfaces</div>
      <table *ngIf="interfaceData.length>0" class="interface-table">
        <tr>
          <th>Sr No</th>
          <th>Interface</th>
          <th>IP</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let data of interfaceData" class="mt-2">
          <td>{{data.ifSrNo}}</td>
          <td>{{data.interfaceName}}</td>
          <td>{{data.ipAddress}}</td>
          <td class="row mt-1">
            <div class="col-2 mr-1">
              <button class="btn btn-primary btn-sm" (click)="editRow(data,'interfaceForm')">
                <i class="fa fa-pencil"></i>
              </button>
            </div>
            <div class="col-2">
              <button class=" btn btn-primary btn-sm" (click)="delete(data,'interfaceData')">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>